
@use "src/App";

.heading {
    font-family: Butler-Light, sans-serif;
    font-size: 72px;
    color: App.$tertiary-color;
    text-align: center;
    margin-top: 1.6em;
    margin-bottom: 1em;
}

.interests__container {
    width: 64vw;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 8rem;
}

@media (max-width: 1440px) {
    .heading {
        font-size: 62px;
    }
}
@media (max-width: 1024px) {
    .heading {
        font-size: 54px;
    }
    .interests__container {
        width: 80vw;
    }
}
@media (max-width: 768px) {
    .heading {
        font-size: 46px;
    }
    .interests__container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
@media (max-width: 600px) {
    .heading {
        font-size: 38px;
    }
}
