
@font-face {
    font-family: "Butler-Light";
    src: url("../../assets/fonts/Butler_Light.woff");
}

.contact__banner {
    position: relative;
    width: 100%;
    background-color: var(--tertiary-color);
    height: auto
}

.contact__banner__heading {
    font-family: Butler-Light, sans-serif;
    font-size: 72px;
    color: white;
    font-weight: normal;
    text-align: center;
    position: relative;
    z-index: 1;
}

.contact__banner__text {
    font-family: Gilroy-Regular, sans-serif;
    color: white;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    margin-bottom: 1rem;
}

.contact__banner__link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__banner__link {
    width: auto;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 36px;
    padding: 1rem;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    margin: 1rem;
}

.contact__banner__parrot {
    position: absolute;
    height: 150%;
    width: auto;
    bottom: -24.5%;
    left: 64.5vw;
    z-index: 0;
    overflow-x: clip;
}


@media (max-width: 1440px) {
    .contact__banner__heading {
        font-size: 62px;
    }
    .contact__banner__text {
        font-size: 18px;
    }
    .contact__banner__link {
        font-size: 30px;
    }
}
@media (max-width: 1024px) {
    .contact__banner__heading {
        font-size: 54px;
    }
    .contact__banner__text {
        font-size: 16px;
    }
    .contact__banner__link {
        font-size: 26px;
    }
}
@media (max-width: 768px) {
    .contact__banner__heading {
        font-size: 46px;
    }
    .contact__banner__text {
        font-size: 14px;
    }
    .contact__banner__link {
        font-size: 22px;
    }
}
@media (max-width: 600px) {
    .contact__banner__heading {
        font-size: 38px;
    }
    .contact__banner__text {
        font-size: 12px;
    }
    .contact__banner__link {
        font-size: 18px;
    }
}